.container {
    position: absolute;
    padding-top: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    border: none;
}
  
.menu li {
    padding: 10px;
    cursor: pointer;
    font-size: small;
}
  
.menu li:hover {
    background-color: #f0f0f0;
}
